[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Abhinav Jhanwar (Abhinav1997)
[access "refs/for/refs/*"]
	read = group user/Abhinav Jhanwar (Abhinav1997)
	push = group user/Abhinav Jhanwar (Abhinav1997)
	label-Code-Review = -2..+2 group user/Abhinav Jhanwar (Abhinav1997)
	label-Verified = -1..+1 group user/Abhinav Jhanwar (Abhinav1997)
	rebase = group user/Abhinav Jhanwar (Abhinav1997)
	removeReviewer = group user/Abhinav Jhanwar (Abhinav1997)
	submit = group user/Abhinav Jhanwar (Abhinav1997)
[access "refs/heads/*"]
	read = group user/Abhinav Jhanwar (Abhinav1997)
	create = group user/Abhinav Jhanwar (Abhinav1997)
	push = +force group user/Abhinav Jhanwar (Abhinav1997)
	pushMerge = group user/Abhinav Jhanwar (Abhinav1997)
[access "refs/tags/*"]
	push = +force group user/Abhinav Jhanwar (Abhinav1997)
	pushTag = group user/Abhinav Jhanwar (Abhinav1997)
	pushSignedTag = group user/Abhinav Jhanwar (Abhinav1997)
[plugin "its-jira"]
	enabled = true
